<section>
    <div class="grid">
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-design-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Design</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-development-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Development</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-marketing-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Marketing</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-it-and-software-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;IT and Software</h3>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>
<section>
    <div class="grid">
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-personal-development-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Personal Development</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-business-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Business</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-photography-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Photography</h3>
            </div>
        </div>
        <div class="card" style="width: 19rem;">
            <img src="https://s.udemycdn.com/home/top-categories/lohp-category-music-v2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">&nbsp;&nbsp;&nbsp;&nbsp;Music</h3>
            </div>
        </div>
    </div>
</section>
<br/>
<br/>
<br/>