<footer class="foot" id="foot">
    <br/>
    <button class="btn3"><i class="fas fa-globe" style="color:white;font-size:15px"></i> &nbsp;English</button>
    <ul class="r-footer" id="r-footer">
        <li>
            <ul class="box">
                <li><a href="#"> &nbsp;Udemy Business</a></li>
                <li><a href="#"> &nbsp;Teach on Udemy</a></li>
                <li><a href="#"> &nbsp;Get the app</a></li>
                <li><a href="#"> &nbsp;About us</a></li>
                <li><a href="#"> &nbsp;Contact us</a></li>
            </ul>
        </li>
        <li>
            <ul class="box ">
                <li><a href="#"> &nbsp;Careers</a></li>
                <li><a href="#"> &nbsp;Blog</a></li>
                <li><a href="#"> &nbsp;Help and Support</a></li>
                <li><a href="#"> &nbsp;Affiliate</a></li>
                <li><a href="#"> &nbsp;Investors</a></li>
            </ul>
        </li>
        <li>
            <ul class="box ">
                <li><a href="#"> &nbsp;Terms</a></li>
                <li><a href="#"> &nbsp;Privacy Policy</a></li>
                <li><a href="#"> &nbsp;Cookie Settings</a></li>
                <li><a href="#"> &nbsp;Sitemap</a></li>
                <li><a href="#"> &nbsp;Accessibility statement</a></li>
            </ul>
        </li>
    </ul>
    <h1> &nbsp;<i class="fab fa-uniregistry"></i>&nbsp;<span style="font-size:24px;" id="logo" class="logo-lap">demy</span></i>
    </h1>
    <br>
</footer>