@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.image {
    height: 13rem;
    background-color: #ffffff;
}

.image img {
    width: 25%;
    height: 100%;
    border: 3px solid #A435F0;
}

.image img:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

@media only screen and (max-width: 425px) {
    .image {
        height: 20rem;
        background-color: #ffffff;
    }
    .image img {
        margin-top: 30px;
        width: 100%;
        height: 80%;
        border: 3px solid #A435F0;
    }
    .image img:hover {
        transform: scale(0.9);
        transition: transform .3s;
    }
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 407px;
    display: flex;
    font-size: 17px;
    text-align: center;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a,
.main-header__item button {
    font: inherit;
    background: transparent;
    border: none;
    text-decoration: none;
    color: #00695c;
    cursor: pointer;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
    color: #A435F0;
    border-radius: 3px;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}

.mobile-nav.open {
    transform: translateX(0);
}

.mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem;
    padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
    font: inherit;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
    background: #A435F0;
    color: white;
    border-radius: 3px;
}

#logo {
    color: #A435F0;
    font-size: 12px;
    width: 200px !important;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    #logo {
        color: rgb(252, 54, 146);
        font-size: 12px;
        font-weight: bold;
    }
}

.fab {
    color: #A435F0;
    font-size: 28px;
}

.fas {
    color: #E59819;
    font-size: 24px;
}

#side-menu-toggle {
    border: 1px solid #A435F0;
    font: inherit;
    padding: 0.5rem;
    display: block;
    margin-left: 15%;
    background: transparent;
    background-color: #A435F0;
    color: white;
    cursor: pointer;
}

#side-menu-toggle:focus {
    outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
    color: #A435F0;
    background-color: white;
    border-color: #A435F0;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
    height: 10rem;
    text-align: center;
}

.card__image img {
    max-width: 100%;
    max-height: 100%;
}

.card__image:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #A435F0;
    color: white;
    background: #A435F0;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: white;
    color: #A435F0;
}

.btn.danger {
    color: red;
    border-color: red;
}

.btn.danger:hover,
.btn.danger:active {
    background: red;
    color: white;
}

.user-message {
    margin: auto;
    width: 90%;
    border: 1px solid #4771fa;
    padding: 0.5rem;
    border-radius: 3px;
    background: #b9c9ff;
    text-align: center;
}

.user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
}

.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #A435F0;
    padding: 0.5rem;
    border: 1px solid #A435F0;
    margin: 0 1rem;
    border-radius: 7px;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
    background: #A435F0;
    color: white;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: rgb(0, 255, 221);
    background-color: rgb(0, 0, 0);
    margin-left: 15%
}

h2 {
    font-size: 20px !important;
    font-weight: bold !important;
    color: black !important;
}

.footer>* {
    flex: 1 100%;
}

.no {
    text-align: center;
    margin-top: 13% !important;
}

.card-img-top:hover {
    transform: scale(1.1);
    transition: transform .3s;
}

@media only screen and (max-width: 500px) {
    #logo {
        color: #A435F0;
        font-size: 18px;
        font-weight: bold;
    }
    #l-footer {
        margin-bottom: 2em;
        margin-left: 15%;
        text-align: justify;
    }
    #mov-footer {
        display: none !important;
        color: white !important;
    }
    #mov-footer1 {
        display: inline-block !important;
        color: rgb(196, 196, 196) !important;
        text-align: justify !important;
        margin-top: -20% !important;
    }
    #mov-footer2 {
        margin-top: 5% !important;
    }
}

#mov-footer1 {
    display: none;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
    margin-left: -16%;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 2;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}

@media (min-width: 768px) {
    .main-header__nav {
        display: flex;
    }
    #side-menu-toggle {
        display: none;
    }
    .user-message {
        width: 30rem;
    }
}